<!doctype html>

<html lang="en">

<head>
    <title><%=pageTitle%></title>
    <!--meta info-->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.css" type="text/css">
    <!--[if !IE 9]><!-->
    <link rel="stylesheet" href="../css/effect.css" type="text/css">
    <link rel="stylesheet" href="../css/animation.css" type="text/css">
    <!--<![endif]-->
    <link rel="stylesheet" href="../css/masterslider.css" type="text/css">
    <link rel="stylesheet" href="../css/ms-fullscreen.css" type="text/css">
    <link rel="stylesheet" type="text/css" media="all" href="../css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" media="all" href="../css/owl.transitions.css">
    <link rel="stylesheet" href="../css/color.css" type="text/css">